{% extends "_default.html" %}

{% block head %}{{ super() }}{% endblock %}
{% block title %}{{title}}{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block messages %}
  {{super()}}
{%endblock%}
{% block content %}
{% if current_user.is_authenticated %}
		<div class="title">
			<h3>{{title}}</h3>
		</div>
		<div class="row">
		{% if (countries|length  > 0) %}
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">name</th>
					<th scope="col">top level domain</th>
					<th scope="col">capital</th>
					<th scope="col">continent</th>
					<th scope="col">calling code</th>
					<th scope="col">2 digit code</th>
					<th scope="col">3 digit code</th>
				</tr>
			</thead>
			<tbody class="">
			{% for country in countries %}
				<tr>
					<td> {{country.name}} </td>
					<td> {{country.topLevelDomain}} </td>
					<td> {{country.capital}} </td>
					<td> {{country.region}} </td>
					<td> {{country.callingCodes}} </td>
					<td> {{country.alpha2Code}} </td>
					<td> {{country.alpha3Code}} </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% else %}
			<br/>
			<h3 class="alert">table is empty</h3>
		{% endif %}
	</div>
	<div class="row">
		<a href="{{url_for('index')}}" class="btn btn-secondary">Home</a>
	</div>
{% else %}
  <div class="container">
  <h2>Please login to see this content</h2>
  <a href="{{url_for('login')}}">Log in</a>
  </div>
{% endif %}
{% endblock %}
